
#options {
  top: 0;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: grey;
}

#login-background {
  height: 100%;
  background: linear-gradient(90deg,  #ffc700 0%, #20c997 50%, #007bff 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  animation: bgposition 8s infinite linear alternate;
}

#footer {
  height: 50px;
}

#view-container {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#left-block {
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg,  #6f27b0 0%, #e91e1e 70%, #ffc700 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  animation: bgposition 7s infinite linear alternate;
}

#right-block {
  height: 100%;
  width: 50%;
}

.header-link {
  margin-left:5px;
  margin-right: 5px;
}

.header-link:hover {
  cursor: pointer;
}

#register-form {
  height: 100%;
  width: 50%;
  background-color: #f8f9fa;
}

.center-form {
  margin: 40px auto 40px auto;
  width: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-form {
  margin: 40px auto 40px auto;
  width: 80%;
}

.login-fail {
  padding-top: 20px;
}

.input-warning {
  color: red;
  font-size: 12px; 
}

#login-block {
  height: 100%;
  width: 50%;
}

.login-section {
  border-radius: 25px;
  padding:40px;
  background-color: #f8f9fa;
  width: 75%;
}

.center-title {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#chatroom-title {
  font-weight:700;
}

#intro {
  font-weight: 400;
  border-bottom-style: solid;
  border-width: 8px;
  border-color: orange;
}

@media only screen and (max-width: 400px) {
  
}

.remind {
  float: right;
  font-size: 15px;
}

#login-button {
  width: 60px;
  height: 40px; 
  padding: 5px 10px 5px 10px;
}

html, body {
  height: 100%;
}

@keyframes bgposition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}