<!DOCTYPE html>
<html>
<head>
    <title>ChatRoom Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/login_view.css">
    <script src="/assets/login_view.min.js"></script>
    <script src="/assets/chatroom_app.min.js"></script>
</head>
<body>
  <div id="login-view"></div>
  <script type="text/javascript">
    
    window.chatRoom.renderComponent("LoginView", document.getElementById("login-view"));
  </script>
</body>
</html>
